# MongoDB
MONGO_URI=mongodb://mongo:27017/log-dashboard

# Server
PORT=3000
NODE_ENV=development

# SSH Configuration - PTIN Server
SSH_HOST=10.17.145.128
SSH_USER=ossadmin_altaia
SSH_PORT=22
SSH_KEY_PATH=~/.ssh/config
SSH_TIMEOUT=15000

# SSH Password (alternativa à chave privada)
# SSH_PASSWORD='4dM4lTeia22!!!Oss'

# SSH Keepalive (para conexões estáveis)
SSH_KEEPALIVE_INTERVAL=10000
SSH_KEEPALIVE_COUNT_MAX=3

# Logging
LOG_LEVEL=info
